.home-section1 {
  height: 75%;
  text-align: center;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;

  .home-container-text {
    padding-bottom: 50px;
  }

  .logo {
    background-image: image-url('last_logo2.png');
    height:30vh;
    background-size: contain;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 30px;
    padding-top: 50px;
  }
}

.main_title {
  font-size: 30px;
  font-weight: 400;
  color: $white;
  text-align: left;
}

.desciption {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: $white;
  text-align: justify;
}

.text_color_green {
  color: $green2;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.secondary_title {
  font-size: 25px;
  font-weight: 400;
  color: $white;
  padding-top: 40px;
}

.home-container {
  background: black;

  .home-section2 {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

    p {
      color: $black;
      padding: 0 10px;
      padding-top: 30px;
    }
    .location_icon {
      font-size: 50px;
      color: $black;
      padding-top: 20px;
    }
    .mini_title_green {
      color: $black;
      font-size: 20px;
      font-weight: bold;
      // margin-bottom: 2px;
      padding-top: 30px;
    }
    .green-text {
      color: $black;
      text-align: justify;
    }

    .group_icon {
      font-size: 50px;
      color: $white;
      padding-top: 20px;
    }
    .mini_title_red {
      color: $white;
      font-size: 20px;
      font-weight: bold;
      // margin-bottom: 2px;
      padding-top: 30px;
    }
    .red-text {
      color: $white;
      text-align: justify;
    }
    .sport_icon {
      font-size: 50px;
      color: $black;
      padding-top: 20px;
    }
    .mini_title_blue {
      color: $black;
      font-size: 20px;
      font-weight: bold;
      // margin-bottom: 2px;
      padding-top: 30px;
    }
    .blue-text {
      color: $black;
      text-align: justify;
    }
  }
}
.brandcolor {
  color: $pink;
  font-weight: bold;
  font-size: 25px;
}

.green-container {
  background: linear-gradient(to top, $blue1, $blue2);
}
.red-container {
  background: linear-gradient(to top, $red, $pink);
}
.blue-container {
  background: linear-gradient(to top, $green1, $green2);
}

.btn-box-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -22px;
}

.home-section3 {
  background: $white;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  .third_title {
    font-size: 25px;
    font-weight: 400;
    font-weight: bold;
    color: $red;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }
  p {
    color: $black;
    padding: 0 10px;
    margin-bottom: 0px;
    text-align: justify;
  }
  .fisrtlist1 {
    color: $black;
    padding: 20px 10px;
    text-decoration: none;
    justify-content: center;
    padding-bottom: 30px;
  }
  .list1 {
    color: $black;
    padding: 30px 10px;
    text-decoration: none;
    justify-content: center;
  }
  .sub-title-3 {
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
  }
  .sub-title-4 {
    font-weight: bold;
  }
  .text_color_green {
    color: $red;
  }
}
.last-line {
  color: $white;
  padding-top: 10px;
  font-size: 17px;
  padding-bottom: 30px;
  text-align: justify;
}

.home-section4 {
  height: 660px;
  background: $black;
  text-align: center;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin-right: 20px;
  margin-left: 20px;

  .sport-card-home {
    font-size: 25px;
    font-weight: 400;
    font-weight: bold;
    color: $white;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
  }
  p {
    color: $white;
    padding: 30px 10px;
    margin-bottom: 0px;
    text-align: justify;
  }
  .text_color_green {
    color: $green2;
  }
}

.carouselSlidesOnly {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .carousel-item {
    padding: 0px 30px;
  }

.card-section {
  height: 30%;
  background: $white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 10px;

  .user_name {
    font-size: 25px;
    font-weight: 500;
    color: $black;
    text-align: left;
    padding-top: 11px;
  }
  .avatar-bordered {
    width: 50px;
    position: absolute;
    right: 40px;
    top: 10px;
    border-color: $red;
  }

  .comments {
    font-size: 15px;
    color: $black;
    margin-bottom: 0px;
    text-align: justify;
    margin: 0;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 12px;
  }
}
.stars {
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 60px;
}
.checked {
color: $red;
}
.unchecked {
  color: $black;
}
