.schedule-section1 {
  background: $black;

  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

  .schedule-container-text {
    padding-bottom: 30px;
  }
}

.schedule-container-header {
  // padding-top: 20px;
}

.schedule-main_title {
  font-size: 40px;
  font-weight: 400;
  color: $white;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

.schedule-desciption {
  font-size: 17px;
  font-weight: 400;
  color: $white;
  text-align: center;
  margin-bottom: 8px;
}

.hyper-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.category-schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  grid-gap: 1.75rem 3rem;
 }



.schedule-day {
  color: $black;
  padding: 8px 24px;
  text-align: center;
  vertical-align: center;
  border-radius: 5px;
  background: linear-gradient(to right, $pink, $red);
  height: 50px;
  width: 120px;
  padding-top: 11px;
  position: relative;
  transition: background 0.3s ease;
}

.day-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.active-schedule {
  border-radius: 5px 5px 0 0;
  background: $white;
  color: $black;

  .day-choice {
    color: $red;
  }
}

.floute_class {
  text-align:center;
  color: transparent;
  text-shadow: 0 0 3px rgba(255,255,255,0.9);
  transition: all 0.5s;
  filter: brightness(60%);
}

.schedule_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  width: 288px;
  border-radius: 0 5px 5px 5px;
  height: 114px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  top: 50px;
  left: 0px;
}

.even_day_margin {
  margin-left: -168px;
  border-radius: 5px 0 5px 5px;
}

.time_fork {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  color: $white;
  border-radius: 5px;
  height: 40px;
  padding: 19px 6px;

  label {
    font-size: 15px;
    margin-bottom: 0px;
  }
  p {
    margin-top: 9px;
    font-size: 15px;
  }
  &.active {
    background: linear-gradient(to right, $blue1, $blue2);
    color: $black;
    font-weight: bold;
  }
}

.margin-schedule{
  margin-bottom: 90px;
}






