<div class="footer">
  <div class="column-links">
    <div class="links-text">
      <a href="404">About us </a>
      <a href="404">Contact </a>
      <a href="404">Privacy policy </a>
      <a href="404">FAQ</a>
    </div>
  </div>

  <div class="footer-links">
    <a href="404"><i class="fab fa-instagram"></i></a>
    <a href="404"><i class="fab fa-facebook"></i></a>
    <a href="404"><i class="fab fa-twitter"></i></a>
    <a href="404"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
