<div class="home-container">
  <div class="home-section1">
    <h1>Sports anytime and anywhere</h1>
    <p>Does not matter where you are or what your schedule is!  Ugoku will always find the rigth sportive activity  for you !</p>
    <%= link_to "I want this" %>
  </div>

  <div class="home-section2">
    <h2>Why people use Ugoku ?</h2>
    <div class="icons">
      <i class="fas fa-map-marker-alt"></i>
      <p>Sports near you</p>
      <p>The algorythm will match the sportive events near you </p>
      <i class="fas fa-users"></i>
      <p>Meet new people</p>
      <p>You will not be alone ! There are a lor of people who loves what you love</p>
      <i class="fas fa-users"></i>
      <p>Stay active </p>
      <p>You can practice all sports you want when you are free to do it!</p>
      <%= link_to "Try ugoku now" %>
    </div>
  </div>

  <div class="home-seciton3">
    <h2>An intelligent platform</h2>
    <p> What does that mean ?
      It is simple, you only have to :
      <li>1. Set up your sport preferences</li>
      <li>2. Insert your disponibilities</li>
      <li>3. eolocalize you.</li>
      The Ugoku algorythm will match the sport event which correspond you more </p>
  </div>

  <div class="home-seciton4">
    <p>1.2.3</p>
  </div>

  <div class="home-seciton5">
    <div class="sport-card-home">
      <h2>A sport event for you all the time!</h2>
      <p>Ugoku not only suggest  sport events according to your schedule, but also you can select all event  you want and when you want.</p>
      sport-card
    </div>

    <div class="opinions-card-home">
      <h3>They already know Ugoku </h3>
      opinions-carrousel
    </div>
    <%= link_to "I am convinced" %>
  </div>
</div>
