<div class="home-container-header">
  <div class="home-section1">
    <div class="logo mb-5">
    </div>
    <div class="home-container-text pt-5">
      <h1 class="main_title pl-3 pr-3">Sports anytime and anywhere</h1>
      <p class="desciption pl-3 pr-3">Does not matter where you are or what your schedule is! <span class="text_color_green">Ugoku will always find the rigth sportive activity</span> for you !</p>
    </div>
  </div>
</div>
<div class= "btn-box">
  <%= link_to "I want this !", '#', class:"btn btn-flat" %>
</div>


<div class="home-container">
  <div class="home-section2 pb-5">
    <h2 class="secondary_title pb-2">Why people use Ugoku ?</h2>
    <div class="icons">
      <i class="fas fa-map-marker-alt location_icon"></i>
      <p class="mini_title_green">Sports near you</p>
      <p>The algorythm will match the sportive events near you </p>
      <i class="fas fa-users group_icon"></i>
      <p class="mini_title_red">Meet new people</p>
      <p>You will not be alone ! There are a lor of people who loves what you love</p>
      <i class="fas fa-users sport_icon"></i>
      <p class="mini_title_blue">Stay active </p>
      <p>You can practice all sports you want when you are free to do it!</p>
    </div>
  </div>
  <div class="btn-box-secondary">
    <%= link_to "Try ugoku now", '#', class:"btn btn-flat btn-flat-2" %>
  </div>

  <div class="home-section3 pb-5">
    <h2 class="third_title pb-2">An intelligent platform</h2>
    <div class="text-container-3">
      <p class="sub-title-3">What does that mean ?</p>
      <p class="sub-title-4">It is simple, you only have to :</p>
      <p class="list1"><span class="text_color_green">1.</span> Set up your sport preferences</p>
      <p class="list1"><span class="text_color_green">2.</span> Insert your disponibilities</p>
      <p class="list1"><span class="text_color_green">3.</span> eolocalize you.</p>
      <p class="last-line">The <span class="text_color_green">Ugoku</span> algorythm will match the sport event which correspond you more</p>
    </div>
  </div>
  <div class="btn-box-secondary">
    <%= link_to "Try ugoku now", '#', class:"btn btn-flat btn-flat-2" %>
  </div>

  <div class="home-section4">
    <h2 class="sport-card-home pr-3 pl-3 pb-2">A sport event for you all the time!</h2>
    <p class="last-text pr-3 pl-3"><span class="text_color_green">Ugoku</span> not only suggest sport events according to your schedule, but also you can select <span class="text_color_green">all event
    you want and when you want</span>.</p>
    <div class="opinions-card-home">
      <h3 class="sport-card-home pt-1 pb-4">They already know Ugoku </h3>
      <div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card-section">
              <h2 class="user_name pb-3">Volodia</h2>
              <div class="text-container-3">
                <p class="comments">“For years I paid for GYM memberships and I never went, because I was busy or tired. Now thanks to Ugoku I can do any sport when I want to.... I love it.”</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-section">
              <h2 class="user_name pb-3">Nico</h2>
              <div class="text-container-3">
                <p class="comments">“For years I paid for GYM memberships and I never went, because I was busy or tired. Now thanks to Ugoku I can do any sport when I want to.... I love it.”</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-section">
              <h2 class="user_name pb-3">Cecile</h2>
              <div class="text-container-3">
                <p class="comments">“For years I paid for GYM memberships and I never went, because I was busy or tired. Now thanks to Ugoku I can do any sport when I want to.... I love it.”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-last-box">
      <%= link_to "I'am convinced", '#', class:"btn btn-flat btn-flat-2" %>
    </div>
  </div>
</div>



