 <div class="home-container">
  <div class="home-section">
    <h1>Sports anytime and anywhere</h1>
    <p>Does not matter where you are or what your schedule is!  Ugoku will always find the rigth sportive activity  for you !</p>
    <%= link %>
    <button type="button">I wan this!</button>
  </div>
 </div>
