.slider-program {
  width: 420px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  color: $black;
}
.slider {
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  color: $white;
  margin-top: 15px;
  width: 310px;

  .slide {
    width: 100px;
    flex-shrink: 0;
    height: 100%;

  }
}

.fa-left-activity {
  position: absolute;
  color: $white;
  left: 10px;
  bottom: -416px;
}

.fa-right-activity {
  position: absolute;
  color: $white;
  right: 10px;
  bottom: -416px;
}

