.container-events {
  background-color: black;
  text-align: center;
  min-height: calc(100vh - 150px - 64px);

.text-center-match {
  font-size: 17px;
  color: $white;
  display: flex;
  justify-content: center;
}
  h1 {
    color: white;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 40px;
    padding-top: 50px;
  }
  p {
      color: #787373;
      font-size: 13px;
      padding: 0 20px 0 10px;
      margin-top: 10px;
      margin-bottom: 0;
    }
  .sport-img {
    width: 74px;
    height: 74px;
    align-items: center;
    margin: 10px 0 0 15px;
  }
}

h2 {
  color: $red;
  font-weight: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.card-events {
  background-color: #F91351;
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 0 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  height: 120px;
  display: flex;

  .button-events {
    color: white;
    padding: 0 30px 0 25px;
    font-size: 20px;
    margin-top: -3px;
    cursor: pointer;
  }
}

.matching-events-bottom {
  background-color: black;
  text-align: center;
  height: 100%;
}

.sport-event-card {
  text-align: left;
  padding-left: 30px;
  h3 {
    font-size: 20px;
    color: white;
  }
}

.sport-info{
  p {
    color: white;
    text-align: left;
    font-size: 15px;
    margin: 0px 5px 5px 5px;
    margin-left: -8px;
    font-weight: bold;
  }
}

.add-button {
  position: absolute;
  top: 40px;
  right: 10px;
  .add-event-btn {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.decription-event {
  background-color: white;
  text-align: center;
  position: static;
  padding: 15px 18px 0 15px;
  margin: -47px 20px 30px 20px;
  border-radius: 0 0 20px 20px;

  .font-map {
    background-color: rgba(249, 19, 81, 0.4);
    font-size: 14px;
    border: none;
    border-radius: 20px;
    color: #F91351;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    width: 90px;
    margin-left: -30px;
    height: 30px;
  }

  .address-details {
    display: flex;
    font-weight: bold;

    .event-address {
      justify-content: space-between;
      width:100%;
      margin-top: 10px;

      p {
        color: black;
        font-size: 15px;
        text-align: left;
        margin-bottom: 0;
        width:220px;
        font-weight: bold;
        line-height: 16px;
      }
    }
  }

  .info-sport-event {
    display: flex;
    justify-content: space-between;
    margin-top:10px;

    p {
        color: #919191;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 8px;
      }

    .details-level {
      display: flex;
      justify-content: flex-end;
      padding-top: 8px;
        .level-img{
          opacity: 0.33;
        }
    }

    .details-button {
      position: absolute;
      right: 10px;
      bottom: 20px;
      z-index: 2;
      cursor: pointer;

      i {
        cursor:pointer;
      }
    }
  }

  .text-event {
    h3 {
      color: $black;
      font-size: 17px;
    }

    p {
      color :#787373;
      text-align: left;
      font-size: 13px;
      padding: 0 0 10px 10px;
    }
  }
}

.close-pop-up{
  color: $white;
  font-size: 30px;
  cursor: pointer;
}

.event-avatars {

  img {
    position: relative;
    margin-left: -20px;
    left: 10px;
    width: 40px;
    height:40px;
  }
}

#map{
  margin: 0 auto;
}

.modal-content{
  background-color: $black;
  color: white;
}

.mapboxgl-canvas{
  border-radius: 25px;
}
.modal-header{
  margin-bottom: 18px;
}

#map-mapboxlg-map {
  width: 100%;
  height: 50vh;
}


#map{
  height:400px;
  transition: opacity .3s;
}
.mapboxgl-map{
  overflow: hidden;
}
.mapboxgl-canvas{
  box-shadow: 0 0 10px white;
}
