.slider-program {
  width: 420px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  color: $black;
}
.slider {
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  color: $white;
  margin-top: 15px;
  width: 310px;

  .slide {
    width: 100px;
    flex-shrink: 0;
    height: 100%;

  }
}

.left-activity {
color: $white;
padding-left: 10px;
margin-top: -15px;
}

.right-activity {
color: $white;
padding-right: 10px;
margin-top: -15px;
}

