.slider-program {

  height: 100%;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  color: $black;
}

.slider {
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  color: $white;
  margin-top: 15px;
  width: 310px;

  .slide {
    width: 110px;
    flex-shrink: 0;
    height: fit-content;
    background: linear-gradient(to top, $red, $pink);
    margin-lef: 10px;
    margin-right: 15px;
    border-radius: 10px;
    padding-top: 10px;
  }
}

.fa-left-activity {
  position: absolute;
  color: $white;
  left: 10px;
  bottom: -416px;
}

.fa-right-activity {
  position: absolute;
  color: $white;
  right: 10px;
  bottom: -416px;
}

