.navbar-lewagon {
  background: $black;
  z-index: 2;
}
.navbar-dark {
  .collapse-wrapper {
    .navbar-nav .nav-link {
      padding-right: 20px;
      font-weight: bold;
      cursor: pointer;
      &:hover, &:active {
        color: $white;
      }
    }
  }
}

.navbar-brand {
  height: 48px;
  top: 2px;
}

// #navbarSupportedContent {
//   border-color: none ;
//   background: $white;
//   border-radius: 0 0 5px 5px;
//   width: 340px;
//   height: 203px;
// }

// #navbarSupportedContent{
//   background: #FFFFFF;
//   border-radius: 0 0 5px 5px;
//   width: 340px;
//   height: 0;

// }

// .collapse-signin {
//   height: 260px;
//   background: #FFFFFF;
//   border-radius: 0 0 5px 5px;
//   width: 340px;
// }

// .collapse-signout {
//   height:120px;
//   background: #FFFFFF;
//   border-radius: 0 0 5px 5px;
//   width: 340px;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-lewagon .navbar-brand img {
  padding-top: 2px;
  width: 35px;
}

.navbar-toggler {
  border-color: $black;
  color: $white;
  border-radius: 5px 5px 0 0;
  padding-top: 8px;
  border: none;
  height: 40px;
  box-decoration-break: none;
}


// .navbar-nav {
//   border-color: $white;
//   // padding-right: 20px;

//   a {
//     font-weight: bold;
//     color: $black;
//   }
// }
